<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
"http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 

<servlet> 
	<servlet-name>SampleServlet</servlet-name> 
	<servlet-class>net.xx.com.FistServelt</servlet-class> 
	<load-on-startup>1</load-on-startup> 
</servlet> 
<servlet-mapping> 
	<servlet-name>SampleServlet</servlet-name> 
	<url-pattern>/aa</url-pattern> 
</servlet-mapping> 

<servlet> 
	<servlet-name>SampleServlet2</servlet-name> 
	<servlet-class>net.xx.com.FistServelt2</servlet-class> 
	<load-on-startup>1</load-on-startup> 
</servlet> 
<servlet-mapping> 
	<servlet-name>SampleServlet2</servlet-name> 
	<url-pattern>/bb</url-pattern> 
</servlet-mapping> 

</web-app> 